:root {
  /* ---colors--- */
  --white: hsl(0, 0%, 100%);
  --purple-500: hsl(263, 55%, 52%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  /* ---Fonts--- */
  --family: 'Barlow Semi Condensed', sans-serif;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*
  margin: 0;
  padding: 0;
  */
}

body {
  background-color: var(--white);
}