:root {
  /* ---colors--- */
  --white: hsl(0, 0%, 100%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --purple-500: hsl(263, 55%, 52%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
  /* ## Typography */
  /* ### Body Copy */
  --font-size: 15px;
  /* ---Fonts--- */
  --family: 'Barlow Semi Condensed', sans-serif;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*
  margin: 0;
  padding: 0;
  */
}

body {
  background-color: var(--white);
  font-family: var(--family);
}

.number-01 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--grey-400);
  border: 2px solid var(--grey-400);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-semibold);
  position: relative;
}

/* Linea verticale sopra */
.number-01::before {
  content: "";
  width: 2px;
  height: 60px;
  background: var(--grey-400);
  position: absolute;
  top: -60px; /* distanza dal cerchio */
  left: 50%;
  transform: translateX(-50%);
}
